.list{
    display:flex;
    justify-content:space-between ;
    align-items:center ;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    padding: 1rem ;
}
.buttons{
    padding:0.2rem 0.2rem  ;
    border-radius:0.3rem ;
    color:#ffffff;
    border:none ;
    cursor:pointer;
}

.buttons:hover {
    color: rgb(0, 17, 255);
    
}