.container {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    height: 35rex;
    background-color: #f3f3f3;
  }
  
  .card {
    width: 260px;
    height: 300px;
    background-color: #ffe500;
    border-radius: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  }
  
  .banner {
    position: absolute;
    top: 0;
    /* transform: translateY(-50%); */
    background-color: #ff6f61;
    color: black;
    font-family: monospace;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 0 0 20px 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .icon {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .lock {
    width: 64px;
    height: 64px;
    color: black;
  }
  
  .solveBtn {
    background-color: white;
    color: black;
    font-family: monospace;
    font-size: 1rem;
    padding: 8px 20px;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  }
  