.wrapper{
    width: 100%;
    /* height: 90%; */
    margin-top: 20dvh;
    display: flex;
    position: absolute;
    justify-content: center;
    
}
.container{
    text-align: center;
    /* position: relative; */
    border: 2px solid #b5b5b5;
    background-color: aqua;
    border-radius: 0.8rem;
    padding: 3rem 2rem;
    width: fit-content;
}
.heading{
    font-style: italic;
}
.status{
    color: rgb(52, 88, 252);
}
.message{
text-decoration: dashed;
}